<div class="dream">
    <% if (theme.dream.showTitle) { %>
    <div class="title center-align">
        <i class="fa <%- theme.dream.icon %>"></i>&nbsp;&nbsp;<%- theme.dream.title %>
    </div>
    <% } %>
    <div class="row">
        <div class="<% if (theme.dream.showTitle) { %>col l8 offset-l2 m10 offset-m1 s10 offset-s1 center-align <% } %> text">
            <% if (!theme.dream.showTitle) { %>
                <i class="fa text-color <%- theme.dream.icon %>"></i>
            <% } %>
            <%- theme.dream.text %>
        </div>
    </div>
</div>